*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: montserrat;
}

nav{
	background: #4682B4;
	height: 50px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 100px;
	padding: 0 50px;
	font-weight: bold;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 130px;
	margin: 0 15px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}

nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a:hover{
	background: #1b9bff;
	transition: .5s;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
}

.pesquisa{
    width: 400px;
    height: 40px;
    margin: -15px 300px;
    float: left;
}

#texto{
    width: 330px;
    height: 30px;
    float: left;
    font-family: 'Arial';
    font-size: 17px;
}

.btn{
    width: 40px;
    height: 30px;
    background-color: #F8F8FF;
    padding: 5px 10px;
    cursor: pointer;
}

#texto:focus{
    border: solid 2px #F8F8FF;
}



body{
	font-family: sans-serif;
	background:	#D3D3D3;
}



@media (max-width: 900px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
	body{
		background: #4682B4;
		width: 100%;
	}
	.pesquisa{
    width: 400px;
    height: 40px;
    margin: -80px 400px;
	}

	#texto{
    width: 330px;
    height: 30px;
    float: left;
    font-family: 'Arial';
    font-size: 17px;
}

.btn{
    width: 40px;
    height: 30px;
    background-color: #F8F8FF;
    padding: 5px 10px;
    cursor: pointer;
	}
}



@media (max-width: 800px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}

	body{
		background: #f9f9f9;
		width: 100%;
	}

	.pesquisa{
    width: 400px;
    height: 40px;
    margin: -40px 300px;

}

	.pesquisa{
    width: 400px;
    height: 40px;
    margin: -40px 300px;
	}
	#texto{
    width: 330px;
    height: 30px;
    float: left;
    font-family: 'Arial';
    font-size: 17px;
	}

	.btn{
    width: 40px;
    height: 30px;
    background-color: #F8F8FF;
    padding: 5px 10px;
    cursor: pointer;
	}
}




nav.filtros {
	color: blue;
	cursor: left;
	line-height: 5px;
	font-size: 170px;
	margin-top: 0px;
}

li{
	font-size: 20px;
	color: #050505;
}

nav ul li{
	display: inline-block;
	line-height: 100px;
	margin: 0 5px;
}


.tabela1{
	
	margin-top: 100px;
	line-height: 30px;
	position: relative;
	left: 450px;

}


.tabela2{
	margin-top: 100px;
	line-height: 30px;
	position: relative;
	left: 450px;
}

.tabela3{
	margin-top: 100px;
	line-height: 30px;
	position: relative;
	left: 450px;
}

.roda{
	background: #4682B4;
	height: 200px;
	width: 100%;
	margin-top: 1580px;	
}

