*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
}

.pesquisa{
    width: 400px;
    height: 40px;
    margin: 200px auto;
}

#texto{
    width: 350px;
    height: 40px;
    float: left;
    font-family: 'Arial';
    font-size: 20px;
}

.btn{
    width: 30px;
    height: 30px;
    background-color: #2f4550;
    padding: 5px 10px;
    cursor: pointer;
}

#texto:focus{
    border: solid 2px  #2f4550;
}