body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(287.56deg, #C0C0C0  0%, #D3D3D3 100%);
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #F0F8FF;
    height: 50px;
    padding: 10px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text{
    background: none;
    border: 0;
    outline: 0;

    padding: 0;

    font-size: 16px;

    width: 0;

    transition: 0.4s;

    
}

.search-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.loupe-white{
    display: none;
}

.search-box:hover > .search-text{
    width: 320px;
    padding-left: 20px;
}



::-webkit-input-placeholder{
    font-size: 17px;
    font-family: -apple-system, BlinkMacSysteamFont, 'Segoe UI', Roboto, Oxygen, Ubunto, Cantarell;
    'Open Sans', 'Helvetica Neue', sans-serif;
}