.menu{
	margin: 0;
	background-color: #4682B4;
	list-style: noe;
	
}

.menu ul li{
	display: inline;
	margin: 8%;

}

.menu ul li a{

	padding: 55px 10px;
	display: inline-block;
}


a:link{
	color: #FFFAFA;
    background-color: transparent;
    text-decoration: underline;
}

a:visited{
	color: #FFFAFA;
}



*{
	margin: 0;
	padding: 0;
}

.wrapper{

	margin-top: -20px;
	padding: 30px;
}

.posiçao{

	margin-top: 250px;
	padding: 30px;

}

body{
	font-family: sans-serif;
	background:	#D3D3D3;
}

.form-group{
	margin-bottom: 20px;
}

.form-group label{
	padding-left: 10px;
	cursor: pointer;
}
.botao{
	padding: 10px 8px;
	width: 50px;
	color: 	#F8F8FF;
	background: #1E90FF;
	border: 1px solid #1E90FF;
	border-radius: 5px;
	text-align: center;
	user-select: none;
	cursor: pointer;
}
.botao:hover{
	background: #4169E1;
}

.pc1{
	 
	top: 50%;
    right: 270px;
    position: absolute;
    margin-top: -50px;
    left: 45%;
}

.preço1{
	padding: 10px 8px;
	width: 100px;
	color: #000000;
	background:	#F8F8FF;
	border: 1px solid 	#A9A9A9;
	border-radius: 5px;
	text-align: center;
	user-select: none;
	cursor: pointer;

	top: 50%;
    right: 270px;
    position: absolute;
    margin-top: 220px;
    left: 50%;

}
.preço1:hover{
	background: #D3D3D3;
}

.pc2{
	top: 50%;
    right: 270px;
    position: absolute;
    margin-top: -50px;
    left: 70%
}

.preço2{
	padding: 10px 8px;
	width: 100px;
	color: #000000;
	background:	#F8F8FF;
	border: 1px solid 	#A9A9A9;
	border-radius: 5px;
	text-align: center;
	user-select: none;
	cursor: pointer;

	top: 50%;
    right: 270px;
    position: absolute;
    margin-top: 220px;
    left: 79%;

}
.preço2:hover{
	background: #D3D3D3;
}



